/*
Google font
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/*
variables par reusar en css
*/
:root {
  --header-height: 56px;

  /*
  colores
  */
  --bandera: 14;
  --first-color: rgba(171, 35, 146, 0.553);  
  --first-color-alt: none; 
  --title-color: hsl(var(--bandera), 4%, 100%);
  --text-color: hsl(var(--bandera), 4%, 95%);
  --text-color-light: hsl(var(--bandera), 4%, 55%);

  /* 
  colores en gradient
   */
  --body-color: linear-gradient(90deg, hsla(190, 94%, 68%, 0.759) 0%, hsla(246, 53%, 49%, 0.833) 100%);
    --container-color: linear-gradient(136deg, hsl(35, 16%, 85%) 0%, hsl(336, 59%, 47%) 100%);

  /*
  fuentess y tipografias
  */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 32px;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 16px;
  --normal-font-size: 16px;
  --small-font-size: 13px;
  --smaller-font-size: 12px;

  /*
  fuente
  */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*
  margenes de botones
  */
  --mb-0-25: 4px;
  --mb-0-5: 8px;
  --mb-0-75: 12px;
  --mb-1: 16px;
  --mb-1-5: 24px;
  --mb-2: 32px;
  --mb-2-5: 40px;

  /*
  indice zeta
  */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* 
letras responsibe media queries
*/
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 64px;
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
  }
}

/*
basesss
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*
clases reusable css=
*/
.section {
  padding: 72px 0 32px;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

/*
Dispocicion
*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*
animacion
*/
.main {
  overflow: hidden;
}

/*
Encabezado
*/
.header {
  width: 100%;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: var(--font-medium);
}

.nav__logo-img {
  width: 20px;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__toggle {
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 56px 0;
    transition: .4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 24px 24px;
  }
}

.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close {
  font-size: 29px;
  position: absolute;
  top: 8px;
  right: 11px;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.nav__link {
  text-transform: uppercase;
  font-weight: var(--font-black);
  transition: .4s;
}

.nav__link:hover {
  color: var(--text-color);
}

/*
 mostrar el menu 
 */
.show-menu {
  top: 0;
}


.scroll-header {
  background: var(--container-color);
}

/* 
enlase 
*/
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/*
Pagina principal
*/
.home__content {
  row-gap: 16px;
}

.home__group {
  display: grid;
  position: relative;
  padding-top: 32px;
}

.home__img {
  height: 250px;
  justify-self: center;
  animation: floating 2s ease-in-out infinite;
}

.home__indicator {
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 112px;
  right: 32px;
}

.home__indicator::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: var(--title-color);
  top: -48px;
  right: 45%;
}

.home__details-img {
  position: absolute;
  right: .5rem;
}

.home__details-title,
.home__details-subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: 109%;
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-1);
}

.home__buttons {
  display: flex;
  justify-content: space-between;
}

/* 
 Movimiento de paso
  */
.swiper-pagination {
  position: initial;
  margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 5px;
  border-radius: 8px;
}

/*
aspecto botones
*/
.button {  
  display: inline-block;
  background-color: var(--first-color);  
  color: var(--title-color);
  padding: 16px 28px;
  border-radius: 8px;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 20px;
}

.button--ghost {
  border: 2px solid;
  background-color: transparent;
  border-radius: 48px;
  padding: 12px 24px;
}

.button--ghost:hover {
  background: none;
}

.button--link {
  color: var(--title-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

/*
categorias
*/
.category__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 32px;
}

.category__data {
  text-align: center;
}

.category__img {
  width: 120px;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
}

.category__title {
  margin-bottom: var(--mb-0-25);
}

.category__data:hover .category__img {
  transform: translateY(-8px);
}

/* 
a serca de las categorias
*/
.about__container {
  row-gap: 32px;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__img {
  width: 200px;
  justify-self: center;
  animation: floating 2s ease-in-out infinite;
}

/*
capacitacion*/
.study__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-top: 16px;
}

.study__content {
  position: relative;
  background: var(--container-color);
  border-radius: 16px;
  padding: 24px 0 16px 0;
  text-align: center;
  overflow: hidden;
}

.study__img {
  width: 90px;
  transition: .3s;
}

.study__subtitle,
.study__price {
  display: block;
}

.study__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}

.study__title,
.study__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.study__button {
  display: inline-flex;
  padding: 8px;
  border-radius: 4px 4px 12px 4px;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.study__icon {
  font-size: 20px;
  color: var(--title-color);
}

.study_content:hover .study__img {
  transform: translateY(-8px);
}

.study__content:hover .study__button {
  right: 0;
}

/*
recomendaciones
*/
.recomendaciones__container {
  padding-top: 16px;
}

.recomendaciones__img {
  width: 120px;
  margin-bottom: var(--mb-0-5);
  transition: .3s;
}

.recomendaciones__content {
  position: relative;
  background: var(--container-color);
  width: 242px;
  padding: 32px 0 24px 0;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
}

.recomendaciones__tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  padding: 4px 8px;
  border-radius: .25rem;
}

.recomendaciones__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.recomendaciones__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.recomendaciones__prices {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.recomendaciones__price {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.recomendaciones__download {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.recomendaciones__button {
  display: inline-flex;
  padding: 8px;
  border-radius: 4px 4px 12px 4px;
  position: absolute;
  bottom: 0;
  right: -48px;
}

.recomendaciones__icon {
  font-size: 20px;
}

.recomendaciones__content:hover .recomendaciones__img {
  transform: translateY(-8px);
}

.recomendaciones__content:hover .recomendaciones__button {
  right: 0;
}

/*
download curriculum
 */
.download__container {
  background: var(--container-color);
  border-radius: 32px;
  padding: 40px 0 24px;
  row-gap: 12px;
}

.download__data {
  text-align: center;
}

.download__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.download__img {
  width: 200px;
  justify-self: center;
}



.recomendaciones__description {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.recomendaciones__form {
  background: var(--container-color);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.recomendaciones__input {
  width: 70%;
  padding: 0 8px;
  background: none;
  color: var(--title-color);
}

.recomendaciones__input::placeholder {
  color: var(--text-color);
}

/* 
Seccion contacto
 */
.contacto {
  --body-color: linear-gradient(90deg, hsla(189, 29%, 43%, 0.83) 0%, hsla(258, 53%, 49%, 0.871) 100%);
  color: #fff;
  padding: center;
}

.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.contacto h2 {
  font-size: 48px;
  font-family: 'Poppins';
  text-align: center;
  padding: 20px 0;
}

.contacto .fila {
  display: center;
}

.contacto .col {
  width: 100%;
  padding: 10px;
  position: relative;
}

.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: rgb(214, 233, 147);
  color: rgb(218, 221, 198);
  font-size: 18px;
}

.contacto button {
  cursor: pointer;
  background-color: transparent;
  border: 4px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: var(--title-color);
  position: relative;
  z-index: 10;
}

.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:rgba(93, 0, 93, 0.578);
  z-index: -1;
  transition: 1s;
}

.contacto button:hover .overlay {
  width: 100%;
}


/*
Pie de pagina
*/
.footer {
  position: relative;
  overflow: hidden;
}


.footer__container {
  row-gap: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.footer__logo-img {
  width: 20px;
}

.footer__description {
  margin-bottom: var(--mb-2-5);
}

.footer__social {
  display: flex;
  column-gap: 12px;
}

.footer__social-link {
  display: inline-flex;
  background: var(--container-color);
  padding: 4px;
  border-radius: 4px;
  color: var(--title-color);
  font-size: 16px;
}

.footer__social-link:hover {
  background: var(--body-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.footer__links {
  display: grid;
  row-gap: 6px;
}

.footer__link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 72px;
}


.scrollup {
  position: fixed;
  background: var(--container-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 5px;
  border-radius: 4px;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon {
  font-size: 20px;
  color: var(--title-color);
}

.scrollup:hover {
  background: var(--container-color);
  opacity: 1;
}

/* 
mostrar desplazamiento para arriba*/
.show-scroll {
  bottom: 48px;
}

/*
barra de desplasamiento*/
::-webkit-scrollbar {
  width: 10px;
  background: #413e3e;
}

::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 8px;
}

/*Para dispositivos pequeños y grandes*/

/* 
Para dispositivos pequeños */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    height: 200px;
  }

  .home__buttons {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container,
  .study__container {
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

/* 
Para dispositivos medianos
 */
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newsletter__container {
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }

  .newsletter__description {
    padding: 0 48px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 112px 0 32px;
  }

  .nav {
    height: calc(var(--header-height) + 24px);
  }

  .nav__img,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 48px;
  }

  .nav__link {
    text-transform: initial;
    font-weight: initial;
  }

  .home__content {
    padding: 128px 0 32px;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }

  .home__img {
    height: 300px;
  }

  .swiper-pagination {
    margin-top: var(--mb-2);
  }

  .category__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__title,
  .about__data {
    text-align: initial;
  }

  .about__img {
    width: 250px;
  }

  .study__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 32px;
  }

  .download__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    padding: 48px 0;
    border-radius: 48px;
  }

  .download__img {
    width: 350px;
    order: -1;
  }

  .download__data {
    padding-right: 96px;
  }

  .newsletter__container {
    grid-template-columns: .5fr;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 16px;
  }

  .footer__img-two {
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

/* 
Para dispositivos grandes
 */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 48px;
  }

  .home__content {
    padding-top: 144px;
    gap: 49px;
  }

  .home__group {
    padding-top: 0;
  }

  .home__img {
    height: 400px;
    transform: translateY(-48px);
  }

  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }

  .home__indicator::after {
    top: 0;
    height: 75px;
  }

  .home__details-img {
    bottom: 0;
    right: 58%;
  }

  .home__title {
    margin-bottom: var(--mb-1-5);
  }

  .home__description {
    margin-bottom: var(--mb-2-5);
    padding-right: 32px;
  }

  .category__container {
    column-gap: 128px;
  }

  .category__img {
    width: 200px;
  }

  .about__container {
    column-gap: 112px;
  }

  .about__img {
    width: 350px;
  }

  .about__description {
    padding-right: 32px;
  }

  .study__container {
    gap: 56px;
  }

  .study__content {
    border-radius: 24px;
  }

  .study__img {
    width: 110px;
  }

  .study__title {
    font-size: var(--h3-font-size);
  }

  .download__container {
    column-gap: 112px;
  }

  .recomendaciones__content {
    width: 310px;
    border-radius: 16px;
    padding: 32px0;
  }

  .recomendaciones__img {
    width: 150px;
  }

  .recomendaciones__img,
  .recomendaciones__subtitle {
    margin-bottom: var(--mb-1);
  }

  .recomendaciones__title {
    font-size: var(--h3-font-size);
  }

  .footer__copy {
    margin-top: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .home__img {
    height: 420px;
  }

  .swiper-pagination {
    margin-top: var(--mb-2-5);
  }

  .footer__img-one {
    width: 120px;
  }

  .footer__img-two {
    width: 180px;
    top: 30%;
    left: -3%;
  }
}

/*
KEYFRAMES
 */
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
